.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    /* background: url('../assets/ShowWiz.png') center / cover; */

    /* background-color: red; */
}

.current-image {
    /* background-image: '/../assets/avatar.jpg' */
    /* margin: 5% 5% 5% 5%; */
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.center {
    justify-content: center;
    text-align:center;
}

.rec-genre {
    margin-top: 0px;
    color: #FF6E40;
}

.color {
    background-color: #FF6E40;
}

.mdl-tabs {
    background-color: black;
}

.mdl-list__item-secondary-content,
.show-title {
    background-color: black;
    background: transparent;
    /* color: #40C4FF; */
    color: #FF6E40;
}

/* .mdl-list__item-secondary-content {
    background-color: black;
    color: #FF6E40;
} */

/* span {
    background-color: black;
    color: #FF6E40;
} */
.flex-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    /* display: flex; */
    /* flex-direction: column; */
}

.rec-image-info {
    /* flex-direction: row; */
}


.shows {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.mdl-layout-title {
    cursor: pointer;
}

.rec-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    /* background-color: purple; */
}

.show-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.episodes {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.mdl-list__item-text-body {
    color: white !important;
}

body {
    background-color: black;
    color: #FF6E40;
}

.chunk {
    margin-top: 0px;
}

#rec-title,
.grid-label {
    margin-bottom: 0px;
    text-align: center;
    /* color: #FF6E40; */
    color: #40C4FF;
}

.fa-star {
    color: grey;
    font-size: 25px;
}

.checked {
    color: #FF6E40;
}

#submit-vote {
    background-color: #40C4FF;
    color: black;
    transition: 0.8s;
}

#submit-vote:hover {
    background-color: #FF6E40;
}

#rec-summary {
    color: white;
    font-size: 100px !important;
}

.rec-panel {
    justify-content: center !important;
    align-items: center !important;
}
