.layout-transparent {
    height: 100%;
    width: 100%;
    color: #FF6E40;
    align-items: center;
    background: black;
    /* background-color: purple; */
}

.topper {
    height: 30%; /* added */
    background: url('../assets/ShowWiz.png') center / cover;
}

.jumbotron {
    /* margin-top: 15%;  if you get rid of topper uncomment this*/ 
    /* margin-bottom: 10%; */
    margin-left: 10%;
    margin-right: 10%;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.2);

    /* height: 100%; */
}
body {
    position: relative;
}

.main {
    margin: auto;
    height: 100%;
    position:fixed;
    top: 50%;
    left: 50%;
    /* width: 30em;
    height: 18em; */
    /* margin-top: -9em; */
    /* margin-left: -15em; */
    /* transform: translate(-50%, -50%); */
    /* justify-content: top; */
    /* text-align: center; */
    /* padding: 0 50% 0; */
    /* background-color: white; */
    /* color: blue; */
    /* opacity: 0.5; */
}