.center {
    justify-content: center;
    text-align:center;
}

.mdl-layout-title {
    cursor: pointer;
}

.color {
    background-color: #FF6E40;
}

.mdl-tabs {
    background-color: black;
}


input, label {
    color: #03A9F4 !important;
}

body {
    background-color: black;
}